@font-face
  font-family: "openSans"
  src: url(../webfonts/OpenSans-Regular.ttf) format("truetype")

@font-face
  font-family: "openSansBald"
  src: url(../webfonts/OpenSans-Bold.ttf) format("truetype")

@font-face
  font-family: "openSansXBald"
  src: url(../webfonts/OpenSans-ExtraBold.ttf) format("truetype")

@font-face
  font-family: "openSansItalic"
  src: url(../webfonts/OpenSans-Italic.ttf) format("truetype")

@mixin font($color: $textDarkGrey, $family: $regular, $weight: normal, $size: $fsReg, $line: 1)
  font:
    size: $size
    weight: $weight
    family: $family
  color: $color
  line-height: $line

@mixin transition($transition: all 0.4s ease 0s)
  -moz-transition: $transition
  -o-transition: $transition
  -webkit-transition: $transition
  transition: $transition

@mixin box-sizing($box-sizing: border-box)
  -moz-box-sizing: $box-sizing
  -webkit-box-sizing: $box-sizing
  box-sizing: $box-sizing

@mixin box-shadow($shadow: 0 0 10px rgba(0, 0, 0, 0.17))
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow

@mixin object-fit($object: cover)
  -o-object-fit: $object
  object-fit: $object


//  COLORS
$lightGreen: #96c22b
$green: #547e1c
$darkGreen: #314c0d
$textBlack: #000000
$textDarkGrey: #555555
$textGrey: #989898
$textLightGrey: #ebebeb
$textBlue: #57bfed
$textWhite: #ffffff

//  SIZES
$fsXS: 0.75rem
$fsS: 0.875rem
$fsReg: 1rem
$fsL: 1.25rem
$fsXL: 1.5rem
$fsXXL: 2rem
$fs3XL: 3rem
$fs4XL: 4rem


//  FONTS
$regular: "openSans", sans-serif
$bold: "openSansBald", sans-serif
$xBold: "openSansXBald", sans-serif
$italic: "openSansItalic", sans-serif

ul
  list-style: none
  padding: 0
  margin: 0

a
  text-decoration: none

body
  @include font

h1
  margin: 0
  font-size: $fs4XL

h2
  @include font($color: $lightGreen, $family: $bold, $weight: bold, $size: $fsXXL, $line: 1.3)
  & span
    @include font($color: $darkGreen, $family: $bold, $weight: bold, $size: $fs3XL)

footer
  background-color: $lightGreen
  padding-bottom: 1rem

.wrapper
  margin: 0 auto
  max-width: 1920px
  @include box-sizing

.container
  width: 1200px
  padding: 1rem 30px 0
  margin: 0 auto
  @include box-sizing

.header, .footer
  &__list
    flex-direction: row
    display: flex
    justify-content: space-between
    align-items: center
    &_bottom a
      color: $textDarkGrey
      line-height: $fsXXL
      @include transition
      &:hover
        border-bottom: 3px solid $lightGreen
        @include transition

.textSmallWhite
  @include font($color: $textWhite, $size: $fsS, $weight: bold)

.textSmallLightGreen
  @include font($color: $lightGreen, $size: $fsS, $weight: bold)

.textSmallGreen
  @include font($color: $green, $size: $fsS, $weight: bold)

.phone_light
  @include font($color: $lightGreen, $size: $fsXL, $weight: bold)

.phone_dark
  @include font($color: $green, $size: $fsXL, $weight: bold)

.phone__text
  margin-top: 0.4rem
  float: right
  @include font($size: $fsS, $weight: bold)

.button
  border: none
  padding: 0.5rem 1rem
  cursor: pointer
  background-color: $lightGreen
  @include font($color: $textWhite, $weight: bold, $line: 2.4rem)
  @include transition
  &:hover
    color: $textBlack
    @include transition

.showcase
  background: url("../img/backgrounds/tachka.png") right no-repeat
  & ul
    display: inline-block
    & li
      padding: 1rem 2rem
      & p
        @include font($size: $fsL, $line: 1.2)
        & span
          font-weight: bold

.textGiantBlue
  @include font($color: $textBlue, $family: $xBold, $size: $fs4XL, $weight: bold)

.textGiantWhite
  @include font($color: $textWhite, $family: $xBold, $size: $fs4XL, $weight: bold)
  background: linear-gradient(to right, $lightGreen, $darkGreen)

.textLargeWhite
  @include font($color: $textWhite, $family: $bold, $size: $fs3XL, $weight: bold)

.benefits
  margin-bottom: 3rem
  &__body
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 250px)
  &__item
    display: flex
    align-items: flex-end
    @include transition()
    & h3
      margin-left: 1.5rem
      @include font($color: $textWhite, $family: $bold, $size: $fsL, $weight: bold)
      max-width: 250px
  &__item_1
    background: url("../img/benefits/equable.png") no-repeat
  &__item_2
    background: url("../img/benefits/auto.png") no-repeat
  &__item_3
    background: url("../img/benefits/lowPrice.png") no-repeat
  &__item_4
    background: url("../img/benefits/moisture.png") no-repeat
  &__item_5
    background: url("../img/benefits/waterTemperature.png") no-repeat
  &__item_6
    background: url("../img/benefits/unikTech.png") no-repeat
  &__item_7
    background: url("../img/benefits/easyInstal.png") no-repeat
  &__item_8
    background: url("../img/benefits/waranty.png") no-repeat
  &__item_9
    background: url("../img/benefits/easySafe.png") no-repeat

.box2
  color: white
  height: 100%
  width: 100%
  padding: 1rem
  box-sizing: border-box
  @include transition()
  &:hover
    @include transition()
    background-color: rgba(100, 200, 50, 0.7)

.deactivated
  display: none

.highZ
  z-index: 10

.schema
  background: url("../img/backgrounds/sky.png") no-repeat
  &__body
    position: relative
  &__info
    position: absolute
    z-index: 5
    background-color: rgba(255, 255, 255, 0.6)
    border-radius: 5px
    @include box-shadow
    max-width: 400px
    &_1
      top: 410px
      left: 80px
    &_2
      top: 320px
      left: 140px
    &_3
      top: 120px
      left: 290px
    &_4
      top: 280px
      left: 320px
    &_5
      top: 360px
      left: 670px
    &_6
      top: 410px
      left: 210px
    &_7
      top: 410px
      left: 420px
    &_text
      margin: 5px
      padding: 1rem
      background-color: #ffffff

.marker
  position: absolute
  height: 50px
  width: 50px
  background-color: rgba(255, 255, 255, 0.6)
  border-radius: 25px
  display: flex
  align-items: center
  justify-content: center
  &__body
    height: 40px
    width: 40px
    background-color: $textBlue
    @include font($color: $textWhite, $size: $fsXL, $family: $bold)
    border-radius: 20px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      background-color: $lightGreen
  &_1
    top: 390px
    left: 60px
  &_2
    top: 300px
    left: 120px
  &_3
    top: 100px
    left: 270px
  &_4
    top: 260px
    left: 300px
  &_5
    top: 340px
    left: 650px
  &_6
    top: 390px
    left: 190px
  &_7
    top: 390px
    left: 400px

.offer
  padding-top: 3rem
  &__description
    display: flex
  &__list
    max-width: 450px
    color: $textBlack
    & li
      padding: 10px
      & circle
        fill: $lightGreen
  &__information
    margin: 2rem 0
    display: flex
    @include font($color: $textGrey, $family: $italic, $size: $fsS)
    max-width: 770px
    & img
      margin-right: 1rem

.downloads
  padding: 1rem 0 2rem
  background-color: $textLightGrey
  &__body
    display: flex
    justify-content: space-between
  &__item
    display: flex
  &__text
    padding-left: 1rem
    & h4
      margin: 1rem 0 0.5rem
    &_link
      @include font($color: $lightGreen, $size: $fsS, $weight: bold)
      border-bottom: 2px solid $lightGreen

.consultation
  background: url("../img/backgrounds/grownd.png") center no-repeat
  padding-bottom: 3rem
  &__list
    display: flex
    & li
      margin-right: 0.5rem
      & input
        line-height: 2rem
        width: 300px

.review
  padding: 2rem 0 2rem

.imgContainer
  align-self: center
  & img
    max-width: 270px

.slider
  position: relative
  overflow: hidden
  &__item
    flex: 0 0 50%
    max-width: 50%
  &__itemBody
    display: flex
  &__itemText
    padding-right: 1rem
    & h4
      color: $green
    & p, span
      font-size: $fsS
    & span
      color: $lightGreen
  &__wrapper
    display: flex
    transition: transform 0.6s ease

.slider__control
  position: absolute
  top: 50%
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  color: #ffffff
  text-align: center
  opacity: 0.5
  height: 50px
  transform: translateY(-50%)
  background: rgba(0, 0, 0, .5)


.slider__control:hover, .slider__control:focus
  color: #fff
  text-decoration: none
  outline: 0
  opacity: .9


.slider__control_left
  left: 0


.slider__control_right
  right: 0


.slider__control::before
  content: ''
  display: inline-block
  width: 20px
  height: 20px
  background: transparent no-repeat center center
  background-size: 100% 100%


.slider__control_left::before
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")


.slider__control_right::before
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")

.feedback
  background: url("../img/backgrounds/paper.png") center no-repeat
  padding-bottom: 2rem
  margin-top: 2rem
  &__form
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(2, 2rem)
    & input
      width: 100%
      line-height: 2rem

