@font-face {
  font-family: "openSans";
  src: url(../webfonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "openSansBald";
  src: url(../webfonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "openSansXBald";
  src: url(../webfonts/OpenSans-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "openSansItalic";
  src: url(../webfonts/OpenSans-Italic.ttf) format("truetype");
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-weight: normal;
  font-family: "openSans", sans-serif;
  color: #555555;
  line-height: 1;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "openSansBald", sans-serif;
  color: #96c22b;
  line-height: 1.3;
}
h2 span {
  font-size: 3rem;
  font-weight: bold;
  font-family: "openSansBald", sans-serif;
  color: #314c0d;
  line-height: 1;
}

footer {
  background-color: #96c22b;
  padding-bottom: 1rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 1rem 30px 0;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__list, .footer__list {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list_bottom a, .footer__list_bottom a {
  color: #555555;
  line-height: 2rem;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header__list_bottom a:hover, .footer__list_bottom a:hover {
  border-bottom: 3px solid #96c22b;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.textSmallWhite {
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #ffffff;
  line-height: 1;
}

.textSmallLightGreen {
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #96c22b;
  line-height: 1;
}

.textSmallGreen {
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #547e1c;
  line-height: 1;
}

.phone_light {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #96c22b;
  line-height: 1;
}

.phone_dark {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #547e1c;
  line-height: 1;
}

.phone__text {
  margin-top: 0.4rem;
  float: right;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #555555;
  line-height: 1;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #96c22b;
  font-size: 1rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #ffffff;
  line-height: 2.4rem;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.button:hover {
  color: #000000;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.showcase {
  background: url("../img/backgrounds/tachka.png") right no-repeat;
}
.showcase ul {
  display: inline-block;
}
.showcase ul li {
  padding: 1rem 2rem;
}
.showcase ul li p {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "openSans", sans-serif;
  color: #555555;
  line-height: 1.2;
}
.showcase ul li p span {
  font-weight: bold;
}

.textGiantBlue {
  font-size: 4rem;
  font-weight: bold;
  font-family: "openSansXBald", sans-serif;
  color: #57bfed;
  line-height: 1;
}

.textGiantWhite {
  font-size: 4rem;
  font-weight: bold;
  font-family: "openSansXBald", sans-serif;
  color: #ffffff;
  line-height: 1;
  background: linear-gradient(to right, #96c22b, #314c0d);
}

.textLargeWhite {
  font-size: 3rem;
  font-weight: bold;
  font-family: "openSansBald", sans-serif;
  color: #ffffff;
  line-height: 1;
}

.benefits {
  margin-bottom: 3rem;
}
.benefits__body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
}
.benefits__item {
  display: flex;
  align-items: flex-end;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.benefits__item h3 {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "openSansBald", sans-serif;
  color: #ffffff;
  line-height: 1;
  max-width: 250px;
}
.benefits__item_1 {
  background: url("../img/benefits/equable.png") no-repeat;
}
.benefits__item_2 {
  background: url("../img/benefits/auto.png") no-repeat;
}
.benefits__item_3 {
  background: url("../img/benefits/lowPrice.png") no-repeat;
}
.benefits__item_4 {
  background: url("../img/benefits/moisture.png") no-repeat;
}
.benefits__item_5 {
  background: url("../img/benefits/waterTemperature.png") no-repeat;
}
.benefits__item_6 {
  background: url("../img/benefits/unikTech.png") no-repeat;
}
.benefits__item_7 {
  background: url("../img/benefits/easyInstal.png") no-repeat;
}
.benefits__item_8 {
  background: url("../img/benefits/waranty.png") no-repeat;
}
.benefits__item_9 {
  background: url("../img/benefits/easySafe.png") no-repeat;
}

.box2 {
  color: white;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 200, 50, 0.7);
  padding: 1rem;
  box-sizing: border-box;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.deactivated {
  display: none;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.schema {
  background: url("../img/backgrounds/sky.png") no-repeat;
}

.offer {
  padding-top: 3rem;
}
.offer__description {
  display: flex;
}
.offer__list {
  max-width: 450px;
  color: #000000;
}
.offer__list li {
  padding: 10px;
}
.offer__list li circle {
  fill: #96c22b;
}
.offer__information {
  margin: 2rem 0;
  display: flex;
  font-size: 0.875rem;
  font-weight: normal;
  font-family: "openSansItalic", sans-serif;
  color: #989898;
  line-height: 1;
  max-width: 770px;
}
.offer__information img {
  margin-right: 1rem;
}

.downloads {
  padding: 1rem 0 2rem;
  background-color: #ebebeb;
}
.downloads__body {
  display: flex;
  justify-content: space-between;
}
.downloads__item {
  display: flex;
}
.downloads__text {
  padding-left: 1rem;
}
.downloads__text h4 {
  margin: 1rem 0 0.5rem;
}
.downloads__text_link {
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "openSans", sans-serif;
  color: #96c22b;
  line-height: 1;
  border-bottom: 2px solid #96c22b;
}

.consultation {
  background: url("../img/backgrounds/grownd.png") center no-repeat;
  padding-bottom: 3rem;
}
.consultation__list {
  display: flex;
}
.consultation__list li {
  margin-right: 0.5rem;
}
.consultation__list li input {
  line-height: 2rem;
  width: 300px;
}

.review {
  padding: 2rem 0 2rem;
}

.imgContainer {
  align-self: center;
}
.imgContainer img {
  max-width: 270px;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
}
.slider__itemBody {
  display: flex;
}
.slider__itemText {
  padding-right: 1rem;
}
.slider__itemText h4 {
  color: #547e1c;
}
.slider__itemText p, .slider__itemText span {
  font-size: 0.875rem;
}
.slider__itemText span {
  color: #96c22b;
}
.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover, .slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.feedback {
  background: url("../img/backgrounds/paper.png") center no-repeat;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.feedback__form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 2rem);
}
.feedback__form input {
  width: 100%;
  line-height: 2rem;
}

/*# sourceMappingURL=style.css.map */
